<h1>Listing all Games</h1>
<%=paginate  @game %>
<table>
  <tr>
    <th>Title</th>
    <th></th>
  </tr>
  <%  @game.each do |game| %>
    <tr>
      <td><%= game.name %></td>
      <td><%= link_to 'Show', game_path(game) %></td>
    </tr>
  <% end %>
</table>
<%=paginate  @game %>